@media screen and (min-width: 1366px) {
  .container {
    display: flex;
    padding: 0;
    border: none; }
  .nav {
    display: flex;
    justify-content: space-between; }
  .nav-head {
    display: inline-block; }
  .toggle {
    display: none; }
  .navbar {
    width: 40%;
    height: 2.8rem;
    display: flex;
    justify-content: space-between; }
    .navbar__item {
      width: auto;
      height: 100%;
      position: relative;
      background-color: #000;
      list-style-type: none; }
      .navbar__item::before {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 0.1875rem;
        bottom: -0.5rem;
        transform: scaleX(0);
        transition: all 0.35s linear;
        visibility: hidden;
        background-color: #fff; }
      .navbar__item:hover .navbar__link {
        transition: all 0.35s linear; }
      .navbar__item:hover::before {
        width: 100%;
        background-color: #fff7cc;
        transform: scaleX(1.1);
        visibility: visible; }
    .navbar__link {
      position: static;
      color: #fff; }
    .navbar__item--home {
      width: auto; }
  .home__name {
    margin: 1rem;
    font-size: 4rem; }
  .home__jobtitle {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 3rem; }
  .home__img {
    width: 50%; }
  .add--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 50%; }
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000; }
    .aside__title {
      text-align: center;
      width: 60%;
      margin-bottom: 1em; }
    .aside__img {
      width: 30%; }
    .aside--left {
      border-radius: 0 50% 50% 0; }
    .aside--right {
      border-radius: 50% 0 0 50%; }
  .about {
    padding: 0; }
    .about__foto {
      margin-bottom: 2rem;
      width: 40%; }
    .about__title {
      display: none; }
    .about__text {
      font-size: 1.5rem;
      width: 80%; }
  .skills {
    padding: 0; }
    .skills__title {
      width: 80%;
      margin-bottom: 2rem; }
    .skills__section {
      width: 80%; }
    .skills__artikle {
      margin-bottom: 3rem;
      width: 25%; }
  .portfolio {
    padding: 0; }
    .portfolio__title {
      width: 80%; }
    .portfolio__box {
      width: 80%; }
  .contact {
    padding: 0; }
    .contact__title {
      width: 80%; }
    .contact__box {
      width: 80%; }
  .footer {
    padding-left: 2rem; } }
