body {
  min-width: 20rem;
  font-family: Helvetica, sans-serif; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.wrapper {
  background-image: url(../img/wrapper-bg.png);
  background-repeat: no-repeat;
  background-size: contain; }
  .wrapper--bg {
    background: inherit; }

.settings-nav {
  display: none; }

.header {
  padding: 1rem; }

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.toggle-btn {
  cursor: pointer; }
  .toggle-btn__line {
    display: block;
    margin-bottom: 0.375rem;
    height: 3px;
    width: 1.5rem;
    background-color: black;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; }

.active .toggle-btn__top {
  -webkit-transform: translateY(9px) rotateZ(135deg);
      -ms-transform: translateY(9px) rotate(135deg);
          transform: translateY(9px) rotateZ(135deg);
  background-color: #d60202; }

.active .toggle-btn__midle {
  background-color: transparent;
  -webkit-transform: translateX(2rem);
      -ms-transform: translateX(2rem);
          transform: translateX(2rem); }

.active .toggle-btn__bottom {
  -webkit-transform: translateY(-9px) rotateZ(-135deg);
      -ms-transform: translateY(-9px) rotate(-135deg);
          transform: translateY(-9px) rotateZ(-135deg);
  background-color: #f6313f; }

.logo {
  padding-left: 2rem; }
  .logo-lg {
    display: none; }

.search,
.cart {
  display: inline-block;
  cursor: pointer; }

.search {
  position: relative;
  margin-right: 1rem; }
  .search-input {
    position: absolute;
    bottom: -2.5rem;
    right: 0;
    display: none;
    padding-left: 1rem;
    border: 1px solid #f6313f; }
    .search-input--active {
      display: block; }

.cart {
  position: relative; }
  .cart__numbers {
    position: absolute;
    top: 0;
    right: -1px;
    width: 1rem;
    height: 1rem;
    border-radius: 12.5rem;
    text-align: center;
    background-color: #f6f6f6; }

.bottom-nav {
  position: absolute;
  z-index: 100;
  display: none;
  padding: 1rem;
  width: 100%;
  min-height: 90vh;
  background-color: white; }
  .bottom-nav--active {
    display: block; }

.menu-nav {
  margin-bottom: 1.5rem; }
  .menu-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 0;
    list-style-type: none; }
  .menu-nav-item-card {
    display: none; }
  .menu-nav__link, .menu-nav__sublink {
    text-transform: uppercase;
    text-decoration: none; }
  .menu-nav__link {
    color: #3a2020; }
  .menu-nav__sublist {
    display: none;
    width: 100%; }
  .menu-nav__sublist--active {
    display: block;
    padding: 2rem 0 0 1.5rem; }
  .menu-nav__sublink {
    color: #8da5ba; }
    .menu-nav__sublink:hover {
      color: green; }
  .menu-nav__subitem {
    padding-bottom: 1rem;
    list-style-type: none; }
  .menu-nav__arrow {
    height: 0.25rem;
    width: 0.5rem;
    background: url(../img/down-arrow.png) no-repeat; }
  .menu-nav__arrow--active {
    background: url(../img/up-arrow.png); }

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem; }

.cabinet__link {
  text-decoration: none;
  color: #717274; }

.language__img, .language__list {
  display: inline-block; }

.language__item {
  list-style-type: none;
  text-transform: uppercase; }
  .language__item--ru, .language__item--en {
    display: none; }

.language__link {
  color: #717274;
  text-decoration: none; }

.language__arrow {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  background: url(../img/down-arrow.png) no-repeat; }

.section-banner {
  padding: 1rem; }

.banner__title {
  color: #f6303e;
  text-transform: uppercase;
  text-align: center; }

.banner__description {
  color: #8da5ba; }

.banner__button {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 1rem 2.5rem 1rem 1.5rem;
  width: 11rem;
  color: #fff;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#1b1b1b), to(#453f3f));
  background: -webkit-linear-gradient(left, #1b1b1b, #453f3f);
  background: -o-linear-gradient(left, #1b1b1b, #453f3f);
  background: linear-gradient(to right, #1b1b1b, #453f3f); }
  .banner__button:hover {
    color: red; }
  .banner__button:after {
    content: '';
    position: absolute;
    top: 17px;
    right: 20px;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url(../img/button-arrow.png) no-repeat; }

.slider-text {
  display: none; }

.slider-img {
  position: relative; }
  .slider-img__img {
    display: block;
    margin: auto;
    padding: 2rem 2rem;
    background: url(../img/shadow.png) no-repeat bottom right; }
    .slider-img__img-lg {
      display: none; }
  .slider-img-nav {
    position: absolute;
    top: 3rem;
    right: 0;
    width: 3rem; }
    .slider-img-nav__item {
      float: right;
      list-style-type: none; }
    .slider-img-nav__link {
      text-align: right;
      display: block;
      padding: 0.5rem 0; }
    .slider-img-nav__line {
      display: block;
      height: .125rem;
      width: 2rem;
      background-color: gray; }
      .slider-img-nav__line--active {
        height: .175rem;
        width: 3rem;
        background-color: #f6303e; }

.section-products {
  text-align: center;
  margin-bottom: 5rem; }
  .section-products__link {
    position: relative;
    padding: 0.5rem;
    text-decoration: none;
    color: #f6303e; }
    .section-products__link:after {
      content: '';
      position: absolute;
      top: 15px;
      right: -5px;
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      background: url(../img/products-arrow.png) no-repeat; }
  .section-products .slider {
    margin-top: 2rem; }
    .section-products .slider-slide {
      cursor: pointer;
      position: relative; }
      .section-products .slider-slide-image-section {
        padding: 1rem; }
      .section-products .slider-slide:hover .slider-popap {
        visibility: visible; }
    .section-products .slider-slide img {
      margin: 0 auto; }
    .section-products .slider-slide h1 {
      font-size: 1rem; }
    .section-products .slider-slide p {
      text-align: left;
      font-size: 0.875rem; }
    .section-products .slider-popap {
      position: absolute;
      visibility: hidden;
      top: 0;
      left: 0;
      padding: 1rem;
      width: 100%;
      height: 267px;
      background-color: rgba(55, 55, 55, 0.9); }
      .section-products .slider-popap__action {
        display: table;
        margin-left: auto;
        margin-bottom: 2rem;
        padding: 0.125rem 0.25rem;
        color: red;
        border: 1px solid red;
        width: auto; }
      .section-products .slider-popap__tocard {
        display: table;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        padding: 0.5rem 1rem;
        width: 8rem;
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff; }
        .section-products .slider-popap__tocard:hover {
          background-color: #f6303e; }
      .section-products .slider-popap__ditailes {
        display: table;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding: 0.5rem 1rem;
        width: 8rem;
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff; }
        .section-products .slider-popap__ditailes:hover {
          background-color: #f6303e; }
      .section-products .slider-popap__price {
        margin-bottom: 0.5rem;
        display: table;
        color: red;
        text-decoration: line-through; }
      .section-products .slider-popap__sale-price {
        display: table;
        color: #fff; }
  .section-products .slick-dots {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-bottom: 2px solid #f6f6f6; }

.section-contacts {
  padding: 1rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#fbfbfb), to(#dcdcdc));
  background: -webkit-linear-gradient(top left, #fbfbfb, #dcdcdc);
  background: -o-linear-gradient(top left, #fbfbfb, #dcdcdc);
  background: linear-gradient(to bottom right, #fbfbfb, #dcdcdc); }
  .section-contacts__title {
    margin: 2rem 0;
    text-align: center; }
    .section-contacts__title--lg {
      display: none; }

.contacts-form__input, .contacts-form__textarea, .contacts-form__submit {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  width: 100%;
  min-height: 2.5rem; }

.contacts-form__input--org {
  display: none; }

.contacts-form__input--select {
  display: none; }

.contacts-form__input--date {
  display: none; }

.contacts-form__submit {
  margin: 0.5rem 0 1.5rem 0;
  min-height: 3rem;
  color: #fff;
  border: none;
  background-color: #f6303e;
  cursor: pointer; }

.back {
  padding: 1rem;
  text-align: right; }
  .back__arrow {
    display: inline-block;
    padding: 1rem;
    background: url(../img/back-arrow.png) no-repeat center;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(155, 169, 179, 0.75);
    box-shadow: 0px 10px 25px 0px rgba(155, 169, 179, 0.75); }

.footer {
  padding: 1rem; }
  .footer-license {
    margin-bottom: 1rem;
    text-align: center;
    color: #ca1919; }
  .footer-developd {
    text-align: center; }
    .footer-developd__link {
      margin-right: 1rem;
      vertical-align: middle;
      color: #3f5b69;
      text-decoration: none;
      font-weight: bold; }
    .footer-developd__text {
      font-weight: normal; }
    .footer-developd__circle {
      display: inline-block;
      width: 10px;
      height: 10px;
      vertical-align: middle;
      background-color: #000;
      border-radius: 200px; }
    .footer-developd__circle2 {
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      border: 4px solid #bd1212;
      border-radius: 200px; }

@media screen and (min-width: 1366px) {
  .wrapper {
    position: relative;
    background-image: url(../img/wrapper-bg-lg.png); }
  .settings-nav {
    position: absolute;
    z-index: 101;
    top: 1rem;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 9rem;
    width: 100%;
    border-bottom: 1px solid #eeeeee; }
    .settings-nav__phone, .settings-nav__cabinet, .settings-nav__language {
      margin-left: 2rem; }
    .settings-nav__phone {
      text-decoration: none;
      color: #717274;
      border-bottom: 1px dotted #717274; }
      .settings-nav__phone:after {
        content: '';
        margin-left: 0.5rem;
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        background: url(../img/down-arrow.png) no-repeat; }
    .settings-nav-search__input {
      visibility: hidden;
      padding-left: 1rem;
      border: 1px solid #f6313f;
      background-color: #f7f7f8; }
      .settings-nav-search__input--active {
        visibility: visible; }
    .settings-nav-search__icon {
      cursor: pointer; }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 9rem; }
  .top-nav {
    display: inline-block;
    padding: 0; }
  .toggle-btn {
    display: none; }
  .logo {
    display: none; }
    .logo-lg {
      display: block; }
  .cart-search {
    display: none; }
  .bottom-nav {
    position: inherit;
    display: block;
    margin-top: 1rem;
    width: auto;
    min-height: 10vh; }
  .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 1.5rem; }
    .menu-nav__item {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-left: 1rem;
      padding: 0.5rem 0;
      list-style-type: none; }
    .menu-nav-item-card {
      display: block;
      background-color: #f6f6f6;
      padding: 0.5rem 1rem; }
      .menu-nav-item-card__img {
        margin-right: 0.5rem;
        width: 12px;
        height: 12px; }
    .menu-nav__arrow {
      margin-top: 0.375rem;
      margin-left: 0.375rem; }
    .menu-nav__sublist--active {
      position: absolute;
      top: 2rem;
      left: 0;
      display: inline-block;
      width: auto;
      background-color: #fff; }
    .menu-nav__sublink {
      padding-right: 1rem; }
  .settings {
    display: none; }
  .section {
    padding: 4rem 9rem; }
  .section-banner {
    padding: 4rem 9rem 4rem 21.25rem; }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .banner__title, .banner__description, .banner__button {
      display: none; }
    .banner__title--lg, .banner__description--lg, .banner__button--lg {
      display: block;
      margin-bottom: 2rem; }
  .slider-img {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    max-width: 32rem; }
    .slider-img__img {
      display: none; }
      .slider-img__img-lg {
        display: inline-block;
        margin-right: 5rem;
        padding: 0 6rem 6rem 0;
        background: url(../img/shadow-lg.png) no-repeat bottom right; }
    .slider-img-nav {
      position: absolute;
      top: 3rem;
      right: 0;
      width: 3rem; }
  .slider-text {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    display: block;
    max-width: 21rem; }
  .section-contacts {
    margin: 0 14rem;
    padding: 3.75rem 9rem;
    background: -webkit-gradient(linear, left top, right bottom, from(#fbfbfb), to(#dcdcdc));
    background: -webkit-linear-gradient(top left, #fbfbfb, #dcdcdc);
    background: -o-linear-gradient(top left, #fbfbfb, #dcdcdc);
    background: linear-gradient(to bottom right, #fbfbfb, #dcdcdc); }
    .section-contacts__title {
      display: none; }
      .section-contacts__title--lg {
        display: block; }
  .contacts-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .contacts-form__input, .contacts-form__submit {
      width: 47%;
      color: #717274; }
    .contacts-form__input--org {
      display: block; }
    .contacts-form__input--select {
      display: block; }
    .contacts-form__input--date {
      display: block; }
    .contacts-form__input--message {
      width: 100%; }
    .contacts-form__submit {
      margin: auto;
      width: 9.375rem;
      color: #fff; }
  .back {
    padding: 1rem 9rem;
    text-align: right; }
    .back__arrow {
      display: inline-block;
      padding: 1rem;
      background: url(../img/back-arrow.png) no-repeat center;
      -webkit-box-shadow: 0px 10px 25px 0px rgba(155, 169, 179, 0.75);
      box-shadow: 0px 10px 25px 0px rgba(155, 169, 179, 0.75); }
  .footer {
    padding: 1rem 9rem; }
    .footer-license {
      float: left; }
    .footer-developd {
      float: right; } }
