@media all and (min-width: 1440px) {
  body {
    min-width: 90rem; }
  .header {
    background-image: url(../img/header__background--desktop.jpg);
    padding: 0; }
    .header-bg {
      padding: 3.125rem;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.15); }
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 64rem; }
  .logo {
    font-size: 1.5em; }
  .header-content {
    margin: 0 auto;
    padding: 3rem;
    width: 64rem; }
    .header-content__title {
      font-size: 3.25em; }
    .header-content__text {
      font-size: 1.5em; }
    .header-content__link {
      font-size: 1em; }
  .main {
    margin: 0; }
  .section {
    margin: 0 auto;
    width: 64rem; }
  .section-slider {
    height: 45vh; }
  .section-partners {
    height: 55vh; }
  .bx-wrapper {
    display: inline-block;
    width: 32.5%; }
  .partners-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem; }
  .partners {
    padding: 1rem;
    width: 25%; }
  .grid-item {
    margin: 0.625rem;
    width: 30%;
    height: 20rem; }
  .grid-item--width2 {
    width: 62%; }
  .section-isotope {
    margin-bottom: 3rem; }
  .section-search {
    margin-bottom: 4rem; }
    .section-search__title {
      margin-bottom: 2rem; }
    .section-search__question {
      font-size: 1.25em;
      margin-bottom: 2rem; }
  .search-form__input {
    margin-right: 1.5rem; }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 2.5rem;
    width: 64rem; }
    .footer-title {
      width: 30%; }
    .footer-list {
      margin: 0;
      width: 60%; }
    .footer-item {
      display: inline-table;
      width: 45%; }
      .footer-item-list__item {
        display: block; }
  .license {
    width: 30%; } }
