* {
  outline: none;
  font-family: 'cosmicnormal'; }

body {
  min-width: 20rem; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

.header {
  min-height: 100vh;
  background: url(../img/icons/bg_png/header-bg.png) no-repeat right;
  background-size: contain; }

.top-nav {
  margin-bottom: 4rem;
  padding: 2rem 0;
  text-align: right; }
  .top-nav__item {
    display: inline-block;
    padding: 0 1rem; }
  .top-nav__link {
    opacity: 1;
    color: #fff;
    text-transform: uppercase; }
    .top-nav__link:hover {
      color: #fff64c;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      text-decoration: none; }
    .top-nav__link:not(:hover) {
      color: #fff;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contact-form {
  min-width: 15rem; }
  .contact-form__title {
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center; }
  .contact-form__name {
    background-color: transparent;
    margin-bottom: 1rem; }
    .contact-form__name:focus {
      background-color: transparent; }
  .contact-form__email {
    margin-bottom: 2.25rem;
    background-color: transparent; }
    .contact-form__email:focus {
      background-color: transparent; }
  .contact-form__submit {
    display: block;
    margin: 0 auto;
    width: 6.75rem;
    border: none;
    border-radius: 0.25rem;
    line-height: 2rem;
    color: #fff;
    cursor: pointer;
    background: -webkit-gradient(linear, right top, left top, from(#FF606A), to(#FB6A4e));
    background: -webkit-linear-gradient(right, #FF606A, #FB6A4e);
    background: -o-linear-gradient(right, #FF606A, #FB6A4e);
    background: linear-gradient(to left, #FF606A, #FB6A4e); }
    .contact-form__submit:hover {
      -webkit-box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.75); }

.form-control {
  border: none;
  border-bottom: 2px solid #6cddcb; }

.requirement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: url(../img/icons/bg_png/requirement-bg.png) no-repeat;
  background-size: contain; }
  .requirement-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2.5rem;
    width: 20rem; }
  .requirement-card {
    padding: 2.25rem 0.5rem 1.25rem 2.25rem;
    background-color: #fafafa;
    border-radius: 1rem; }
    .requirement-card__img {
      margin-bottom: 1rem; }
    .requirement-card__title {
      text-transform: uppercase; }
    .requirement-card__text {
      font-family: Georgia, 'Times New Roman', Times, serif; }

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh; }
  .offer__title {
    width: 100%;
    text-align: center;
    text-transform: uppercase; }
  .offer-item {
    width: 30%; }
    .offer-item__img-1 {
      width: 11rem;
      height: 11rem;
      margin: auto;
      background: url(../img/icons/offer-1.png) no-repeat; }
      .offer-item__img-1:hover {
        background: url(../img/icons/offer-1hover.png) no-repeat;
        width: 13rem;
        height: 13rem;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .offer-item__img-1:not(:hover) {
        background: url(../img/icons/offer-1.png) no-repeat;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    .offer-item__img-2 {
      width: 11rem;
      height: 11rem;
      margin: auto;
      background: url(../img/icons/offer-2.png) no-repeat; }
      .offer-item__img-2:hover {
        background: url(../img/icons/offer-2hover.png) no-repeat;
        width: 13rem;
        height: 13rem;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .offer-item__img-2:not(:hover) {
        background: url(../img/icons/offer-2.png) no-repeat;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    .offer-item__img-3 {
      width: 11rem;
      height: 11rem;
      margin: auto;
      background: url(../img/icons/offer-3.png) no-repeat; }
      .offer-item__img-3:hover {
        background: url(../img/icons/offer-3hover.png) no-repeat;
        width: 13rem;
        height: 13rem;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .offer-item__img-3:not(:hover) {
        background: url(../img/icons/offer-3.png) no-repeat;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    .offer-item__img-4 {
      width: 11rem;
      height: 11rem;
      margin: auto;
      background: url(../img/icons/offer-4.png) no-repeat; }
      .offer-item__img-4:hover {
        background: url(../img/icons/offer-4hover.png) no-repeat;
        width: 13rem;
        height: 13rem;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .offer-item__img-4:not(:hover) {
        background: url(../img/icons/offer-4.png) no-repeat;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    .offer-item__img-5 {
      width: 11rem;
      height: 11rem;
      margin: auto;
      background: url(../img/icons/offer-5.png) no-repeat; }
      .offer-item__img-5:hover {
        background: url(../img/icons/offer-5hover.png) no-repeat;
        width: 13rem;
        height: 13rem;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .offer-item__img-5:not(:hover) {
        background: url(../img/icons/offer-5.png) no-repeat;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    .offer-item__img-6 {
      width: 11rem;
      height: 11rem;
      margin: auto;
      background: url(../img/icons/offer-6.png) no-repeat; }
      .offer-item__img-6:hover {
        background: url(../img/icons/offer-6hover.png) no-repeat;
        width: 13rem;
        height: 13rem;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .offer-item__img-6:not(:hover) {
        background: url(../img/icons/offer-6.png) no-repeat;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    .offer-item__title {
      text-transform: uppercase; }

.contact {
  padding: 8rem 0;
  background: url(../img/icons/bg_png/contacts.png);
  background-size: cover;
  color: #e2e2e3; }
  .contact a {
    color: #e2e2e3;
    text-decoration: none; }
    .contact a:hover {
      color: #fff64c;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      text-decoration: none; }
    .contact a:not(:hover) {
      color: #e2e2e3;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
  .contact-title {
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase; }
  .contact-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .contact-info__title {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase; }
  .contact-social {
    padding: 1rem; }
    .contact-social__in {
      display: inline-block;
      margin-right: 1.5rem;
      width: 2rem;
      height: 2rem;
      background: url(../img/icons/linkedin.png); }
      .contact-social__in:hover {
        background: url(../img/icons/linkedin_active.png) no-repeat;
        width: 2rem;
        height: 2rem;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .contact-social__in:not(:hover) {
        background: url(../img/icons/linkedin.png) no-repeat;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    .contact-social__tw {
      display: inline-block;
      margin-right: 1.5rem;
      width: 2rem;
      height: 2rem;
      background: url(../img/icons/twitter.png); }
      .contact-social__tw:hover {
        background: url(../img/icons/twiter_active.png) no-repeat;
        width: 2rem;
        height: 2rem;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .contact-social__tw:not(:hover) {
        background: url(../img/icons/twitter.png) no-repeat;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
    .contact-social__fb {
      display: inline-block;
      margin-right: 1.5rem;
      width: 1.5rem;
      height: 2rem;
      background: url(../img/icons/fb.png); }
      .contact-social__fb:hover {
        background: url(../img/icons/fb_active.png) no-repeat;
        width: 2rem;
        height: 2rem;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .contact-social__fb:not(:hover) {
        background: url(../img/icons/fb.png) no-repeat;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }

.map {
  position: relative;
  padding-bottom: 25%;
  height: 0;
  overflow: hidden; }

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

.footer {
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #e2e2e3;
  background: url(../img/icons/bg_png/footer.png);
  background-size: cover; }
  .footer-licence {
    margin: 0; }
    .footer-licence a {
      text-decoration: none; }
