@charset "UTF-8";
* {
  outline: none; }

body {
  min-width: 20rem;
  font-family: 'acromextrabold', 'Roboto', sans-serif;
  color: #fff; }

.wrapper {
  position: relative; }
  .wrapper--bg {
    background-image: url(../img/open-menu.jpg);
    z-index: 11; }

.header {
  position: absolute;
  z-index: 10;
  width: 100%; }
  .header .top-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.75rem 1rem; }
    .header .top-line__logo {
      text-decoration: none; }
    .header .top-line__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .header .logo__img {
    display: inline-block; }
    .header .logo__img--lg {
      display: none; }
  .header .logo__title {
    display: inline-block;
    font-size: 0.5rem;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto Light', sans-serif; }
  .header .nav-language {
    position: relative;
    padding: 0.4rem;
    margin: 0 1rem;
    border: 1px solid #bfd730;
    cursor: pointer; }
    .header .nav-language:after {
      position: absolute;
      top: 0.4rem;
      right: -1rem;
      content: '';
      display: block;
      width: 0.0625rem;
      height: 0.875rem;
      background-color: #91aeb5; }
    .header .nav-language__en {
      font-family: 'Roboto Light', sans-serif; }
  .header .nav-search {
    position: relative;
    cursor: pointer;
    padding: 0.4rem 0;
    margin: 0 1rem;
    color: #bfd730; }
    .header .nav-search:after {
      position: absolute;
      top: 0.4rem;
      right: -1rem;
      content: '';
      display: block;
      width: 0.0625rem;
      height: 0.875rem;
      background-color: #91aeb5; }
    .header .nav-search--active {
      color: #fff; }
    .header .nav-search__input {
      display: none; }
      .header .nav-search__input--active {
        display: block;
        z-index: 15;
        padding: 1rem;
        border: none;
        width: 100%;
        height: 2.75rem;
        color: #fff;
        background: rgba(255, 255, 255, 0.2); }
    .header .nav-search__section {
      position: relative; }
      .header .nav-search__section-close {
        position: absolute;
        top: 0.875rem;
        right: 1rem;
        display: none;
        border: none;
        background: none; }
        .header .nav-search__section-close--active {
          display: block;
          cursor: pointer;
          z-index: 100; }
  .header .nav-menu {
    display: none; }
    .header .nav-menu__active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-line-pack: center;
          align-content: center;
      height: 92vh; }
    .header .nav-menu__item {
      display: block;
      padding: 1.75rem 0;
      width: 100%;
      text-align: center; }
    .header .nav-menu__link {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase; }
    .header .nav-menu-line {
      display: none; }
  .header .toggle {
    padding: 0.4rem 0;
    margin: 0 0 0 1rem; }
    .header .toggle__line {
      position: relative;
      display: block;
      width: 1.25rem;
      height: 0.125rem;
      background-color: #fff; }
      .header .toggle__line:before, .header .toggle__line:after {
        position: absolute;
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        -webkit-transition: top 0.25s, -webkit-transform 0.35s;
        transition: top 0.25s, -webkit-transform 0.35s;
        -o-transition: top 0.25s, transform 0.35s;
        transition: top 0.25s, transform 0.35s;
        transition: top 0.25s, transform 0.35s, -webkit-transform 0.35s;
        background-color: #bfd730; }
      .header .toggle__line:before {
        left: 0;
        top: -.375rem; }
      .header .toggle__line:after {
        left: 0;
        top: 0.375rem; }
    .header .toggle.active .toggle__line {
      background-color: transparent; }
      .header .toggle.active .toggle__line:before {
        top: 0;
        -webkit-transform: rotateZ(45deg);
            -ms-transform: rotate(45deg);
                transform: rotateZ(45deg);
        background-color: #fff; }
      .header .toggle.active .toggle__line:after {
        top: 0;
        -webkit-transform: rotateZ(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotateZ(-45deg); }
  .header-line {
    width: calc(100% - 2rem);
    margin: 0 auto;
    border-bottom: 1px solid #91afb6; }
    .header-line--none {
      display: none; }

.menu-active {
  background-image: url("../img/open-menu.jpg");
  z-index: 1001; }

input[type="search"]::-webkit-input-placeholder {
  color: #fff; }

input[type="search"]:-ms-input-placeholder {
  color: #fff; }

input[type="search"]::-ms-input-placeholder {
  color: #fff; }

input[type="search"]::placeholder {
  color: #fff; }

.section {
  padding: 1rem; }
  .section-title__text {
    display: inline-block;
    font-size: 1.625em;
    color: #414042; }

.main {
  position: relative; }

.section-slider {
  position: relative;
  padding-top: 4rem;
  width: 100%;
  height: 26.5rem;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover; }

.slider-controls {
  font-family: 'Roboto Light', sans-serif; }
  .slider-controls__numbers {
    display: inline-block;
    padding: 0 2rem;
    font-family: 'Roboto Light', sans-serif; }
  .slider-controls__now {
    color: #8dc63f; }

.custom-prev,
.custom-next {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 3.80rem;
  color: #ecf0e8;
  z-index: 1000;
  cursor: pointer; }

.custom-prev {
  left: 4rem; }

.custom-next {
  left: 9rem; }

.slide {
  position: relative;
  padding: 4rem 3rem 2rem 4rem;
  height: 18.75rem; }
  .slide :before {
    content: '';
    position: absolute;
    top: calc(50% - 7rem);
    left: 1rem;
    height: 75%;
    width: 0.25rem;
    background-color: #8dc63f; }
  .slide__title {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase; }
    .slide__title--pair {
      text-align: right; }
  .slide-square {
    position: absolute;
    width: 0.625rem;
    height: 0.625rem;
    background-color: #fff; }
    .slide-square--1 {
      top: 8%;
      left: 20%; }
    .slide-square--2 {
      top: 15%;
      left: 10%; }
    .slide-square--3 {
      top: 70%;
      left: 90%;
      background-color: #8dc63f; }
    .slide-square--4 {
      top: 80%;
      left: 93%;
      background-color: #8dc63f; }
    .slide-square--5 {
      top: 85%;
      left: 10%;
      background-color: #8dc63f; }
    .slide-square--6 {
      top: 90%;
      left: 85%; }
    .slide-square--7 {
      top: 20%;
      left: 5%; }
    .slide-square--8 {
      top: 10%;
      left: 15%; }
    .slide-square--9 {
      top: 90%;
      left: 70%;
      background-color: #8dc63f; }
    .slide-square--10 {
      top: 93%;
      left: 80%;
      background-color: #8dc63f; }
    .slide-square--11 {
      top: 10%;
      left: 85%;
      background-color: #8dc63f; }
    .slide-square--12 {
      top: 85%;
      left: 90%; }

.mouse-img {
  display: none; }

.projects-link {
  position: relative;
  display: block;
  width: 9rem;
  color: #439c92;
  text-decoration: none; }
  .projects-link:before {
    position: absolute;
    left: 0;
    bottom: -0.3125rem;
    content: '';
    display: block;
    width: 100%;
    height: 0.125rem;
    background-color: #439b91; }
  .projects-link:after {
    position: absolute;
    right: -3rem;
    bottom: 0;
    content: '→';
    display: block;
    width: 2rem;
    height: 100%;
    color: #439b91;
    background-color: #fff; }

.projects-wrap {
  padding-top: 2rem; }

.projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
  padding-left: 2rem;
  min-height: 22rem;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75); }
  .projects-item__title {
    min-width: 80%;
    color: #fff; }
  .projects-item__link {
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #439c92;
    border-radius: 0.2rem;
    text-decoration: none; }
  .projects-item--1 {
    background-image: url(../img/project-1.jpg); }
  .projects-item--2 {
    background-image: url(../img/project-2.jpg); }
  .projects-item--3 {
    background-image: url(../img/project-3.jpg); }
  .projects-item--4 {
    background-image: url(../img/project-4.jpg); }

.contact {
  background-color: #f3fafa; }
  .contact-adress {
    margin-bottom: 2rem; }
    .contact-adress__link {
      text-decoration: none; }
    .contact-adress__icon {
      margin-right: 1rem; }
    .contact-adress__text {
      display: inline-block;
      color: #525254;
      font-family: 'Roboto Light', sans-serif; }
  .contact-phone {
    margin-bottom: 2rem; }
    .contact-phone__icon {
      margin-right: 1rem; }
    .contact-phone__section {
      display: inline-block; }
    .contact-phone__number {
      display: block;
      color: #525254;
      text-decoration: none; }
  .contact-mail {
    margin-bottom: 2rem; }
    .contact-mail__icon {
      margin-right: 1rem; }
    .contact-mail__mail {
      color: #54a59c; }
  .contact-message--style {
    padding: 2rem 0 0.5rem 0;
    width: 100%;
    height: 3.125rem;
    border: none;
    border-bottom: 1px solid #989b9c;
    background-color: #f3fafa; }
  .contact-message__message {
    margin-bottom: 1.25rem;
    overflow: auto; }
  .contact-message__submit {
    margin-bottom: 2rem;
    border: none;
    border-radius: 0.325rem;
    width: 100%;
    height: 3.125rem;
    color: #fff;
    font-family: 'acromextrabold', 'Roboto', sans-serif;
    background-color: #439c92;
    cursor: pointer; }

.footer-license {
  padding: 1.25rem 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #b5d8d4;
  background-color: #439c92; }

.footer-contact {
  text-align: center;
  padding: 1rem; }
  .footer-contact__link {
    padding: 1rem;
    color: #859997; }

.footer-developd {
  padding: 1rem;
  color: #859997;
  text-align: center;
  background-color: #333333;
  font-family: 'Roboto Light', sans-serif; }
  .footer-developd__link {
    padding-right: 0.5rem;
    color: #859997;
    text-decoration: none;
    font-family: 'acromextrabold', 'Roboto', sans-serif; }
  .footer-developd__icon {
    padding-left: 0.25rem; }

@media screen and (min-width: 600px) {
  .header .nav-language {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .header .nav-search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .header .nav-search:after {
    display: none; }
  .header .nav-menu {
    display: none;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
    .header .nav-menu__item {
      display: inline-block; }
    .header .nav-menu__link {
      padding-right: 0.25rem;
      font-size: 1em;
      color: #fff;
      font-family: 'Roboto Light', sans-serif;
      text-decoration: none;
      text-transform: capitalize; }
    .header .nav-menu-line {
      display: inline-block; }
    .header .nav-menu-line__item {
      display: inline-block; }
  .header .toggle {
    display: none; }
  .section-title__img--none {
    display: none; }
  .section-title__text {
    font-size: 2.8125em; }
  .custom-prev {
    left: 10rem; }
  .custom-next {
    left: 15rem; }
  .slide {
    position: relative;
    padding: 4rem 10rem 2rem 10rem;
    height: 18.75rem; }
    .slide :before {
      content: '';
      position: absolute;
      top: calc(50% - 7rem);
      left: 8rem;
      height: 75%;
      width: 0.25rem;
      background-color: #8dc63f; }
    .slide__title {
      margin: 0;
      font-size: 2.5rem;
      text-transform: uppercase; }
  .projects-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .projects-item {
    width: calc(50% - 0.75rem);
    -webkit-box-shadow: none;
    box-shadow: none; }
    .projects-item:hover {
      -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75); }
    .projects-item__title {
      font-size: 1.75em; }
  .contact-info, .contact-mail {
    padding: 0 6.75rem;
    text-align: center; }
  .contact-message {
    text-align: justify; }
    .contact-message__submit {
      width: 10.75rem; }
  .contact-message__name, .contact-message__email {
    width: calc(50% - 1rem); }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #859997;
    background-color: #414042; }
    .footer-license, .footer-contact, .footer-developd {
      padding: 1rem;
      background-color: #414042; } }

@media screen and (min-width: 1366px) {
  .header .top-line__logo {
    padding: 1.5rem; }
  .header-line {
    display: none; }
  .header .nav-menu {
    display: inline-block; }
  .header .nav-language {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .header .nav-search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    .header .nav-search__input--active {
      width: 50%;
      position: fixed;
      right: 0; }
  .header .nav-search:after {
    display: none; }
  .header .nav-toggle-btn {
    display: none; }
  .header .nav-menu {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    display: none; }
  .header .nav-menu-line {
    display: inline-block; }
    .header .nav-menu-line__item {
      display: inline-block; }
    .header .nav-menu-line__link {
      position: relative;
      padding-right: 0.25rem;
      font-size: 1em;
      color: #fff;
      font-family: 'Roboto Light', sans-serif;
      text-decoration: none;
      text-transform: capitalize; }
      .header .nav-menu-line__link::before {
        content: "";
        display: block;
        position: absolute;
        top: -0.5rem;
        width: 100%;
        height: 0.125rem;
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear;
        visibility: hidden;
        background-color: #2a6775; }
      .header .nav-menu-line__link:hover .nav-menu-line__link {
        -webkit-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear; }
      .header .nav-menu-line__link:hover::before {
        width: 100%;
        background-color: #bed62f;
        -webkit-transform: scaleX(1.1);
            -ms-transform: scaleX(1.1);
                transform: scaleX(1.1);
        visibility: visible; }
  .section-title__img--none {
    display: none; }
  .section-title__text {
    font-size: 2.8125em; }
  .custom-prev {
    left: 20rem; }
  .custom-next {
    left: 25rem; }
  .slide {
    position: relative;
    padding: 4rem 20rem 2rem 20rem;
    height: 20rem; }
    .slide :before {
      content: '';
      position: absolute;
      top: calc(50% - 7rem);
      left: 18rem;
      height: 75%;
      width: 0.25rem;
      background-color: #8dc63f; }
    .slide__title {
      margin: 0;
      max-width: 40rem;
      font-size: 4rem;
      text-transform: uppercase; }
  .mouse-img {
    position: absolute;
    bottom: 2rem;
    left: calc(50% - 12px);
    display: block; }
  .projects-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .projects-item {
    width: calc(50% - 0.75rem);
    -webkit-box-shadow: none;
    box-shadow: none; }
    .projects-item:hover {
      -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75); }
    .projects-item__title {
      font-size: 1.75em; }
  .contact-info, .contact-mail {
    padding: 0 6.75rem;
    text-align: center; }
  .contact-message {
    text-align: justify; }
    .contact-message__submit {
      width: 10.75rem; }
  .contact-message__name, .contact-message__email {
    width: calc(50% - 1rem); }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #859997;
    background-color: #414042; }
    .footer-license, .footer-contact, .footer-developd {
      padding: 1rem;
      background-color: #414042; }
  .header:after {
    display: none; }
  .header .logo__img--sm {
    display: none; }
  .header .logo__img--lg {
    display: inline-block; }
  .header .logo__title {
    display: block;
    padding-left: 1.75rem; }
  .section-slider {
    padding-top: 9rem;
    min-height: 50rem; }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 13%; }
    .section-title {
      position: relative;
      min-width: 26rem; }
      .section-title__img--prj {
        position: absolute;
        left: -2rem;
        top: 1rem; }
      .section-title__text {
        width: 20rem; }
  .contact-info, .contact-mail {
    padding: 0 2rem; }
  .footer p {
    margin: 0; } }
